[include]
  path = .gitconfig.local
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  di = diff
[color]
  diff = auto
  status = auto
  branch = auto
  ui = always
[core]
  excludesfile = ~/.gitignore
  editor = "vim -u NONE -i NONE -N -c 'syntax on' \"+e ++enc=utf-8\"" # force encoding utf-8 in log message.
  pager = "lv -c"
[user]
  name = Toru, Kobayashi
  email = koba0004@gmail.com
[rebase]
  stat = true
[rerere]
  enabled = true
[merge]
  ff = false
[push]
  default = current
