[include]
  path = .gitconfig.local
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  di = diff
[color]
  diff = auto
  status = auto
  branch = auto
  ui = always
[core]
  excludesfile = ~/.gitignore
  editor = vim -c \"set fenc=utf-8\"
[user]
	name = Toru Kobayashi
	email = koba0004@gmail.com
[rebase]
  stat = true
[rerere]
  enabled = true
[merge]
  ff = false
  conflictStyle = zdiff3
[push]
  default = simple
[branch]
  sort = committerdate
[ghq]
  root = ~/repos
[pull]
  ff = only
[commit]
  verbose = true
[diff]
  algorithm = histogram