[include]
  path = .gitconfig.local
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  di = diff
[color]
  diff = auto
  status = auto
  branch = auto
  ui = always
[core]
  excludesfile = ~/.gitignore
  editor = vim -c \"set fenc=utf-8\"
  pager = "lv -c"
[user]
  name = Toru, Kobayashi
  email = koba0004@gmail.com
[rebase]
  stat = true
[rerere]
  enabled = true
[merge]
  ff = false
[push]
  default = simple
