"*":
  welcome:
    showOnStartup: false
  "tree-view": {}
  editor:
    fontSize: 14
    showInvisibles: true
    showIndentGuide: true
    preferredLineLength: 200
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
  core:
    disabledPackages: [
      "whitespace"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  react:
    jsxTagStartPattern: "(?x)((^|=|return)\\s*<([^!/?](?!.+?(</.+?>))))"
    jsxComplexAttributePattern: "(?x)\\{ [^}\"']* $|\\( [^)\"']* $"
    decreaseIndentForNextLinePattern: "(?x) />\\s*(,|;)?\\s*$ | ^\\s*\\S+.*</[-_\\.A-Za-z0-9]+>$"
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "enter"
