"*":
  welcome:
    showOnStartup: false
  "tree-view": {}
  editor:
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
    preferredLineLength: 120
    fontSize: 14
  core: {}
  react:
    jsxTagStartPattern: "(?x)((^|=|return)\\s*<([^!/?](?!.+?(</.+?>))))"
    jsxComplexAttributePattern: "(?x)\\{ [^}\"']* $|\\( [^)\"']* $"
    decreaseIndentForNextLinePattern: "(?x) />\\s*(,|;)?\\s*$ | ^\\s*\\S+.*</[-_\\.A-Za-z0-9]+>$"
  "autocomplete-plus": {}
".js.jsx.source":
  editor:
    preferredLineLength: 120
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
