"*":
  welcome:
    showOnStartup: false
  "tree-view": {}
  editor:
    showInvisibles: true
    showIndentGuide: true
    preferredLineLength: 200
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
  core:
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  react: {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "enter"
  "japanese-wrap":
    characterWidth: {}
  "linter-eslint": {}
  linter: {}
  "git-projects":
    maxDepth: 2
